table, th, td{
    border: 1px solid gray;
    padding: 20px;
}
.admin-table{
    margin-left:25%;
}
@media screen and (max-width: 1150px) {
    .admin-table{
        margin-left: 0;
    }
    table,th,td{
        padding: 7px;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}